*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
.banner{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(neon.jpg);
    background-position: center;
    background-size: cover;
}
