*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
.banner{
    height: 100vh;
    width: 100%;
    background-image:   url(neonnnn.jpg  );
    background-position: center;
    background-size: cover;
}
h1{
    color: aqua;
}
