*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
.banner{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(computerarka.jpg);
    background-position: center;
    background-size: cover;
}
.navbar{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;
}
.logo{
    cursor:pointer;
    border-radius: 50%;
}
.navbar ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 25px;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(174, 255, 0);
}
.content{
    width: 100%;
    position: absolute;
    top:40%;
    color: #fff;
    text-align: center;
}
.content h1{
    font-size: 65px;
}
.content p{
    margin: 20px auto;
}
/* button{
    width: 200px;
    padding: 15px 0;
    border-radius: 35px;
    margin: 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    background-color: #6166B3;
    font-size: 17px;
    transition: 1s;
}
button:hover{
    color:black;
    transition: 1s;
    background-color: #6166c3;
} */