body{
    margin: 0;
    padding: 0;
    back
    }
    
    #hero{
       position: relative;
    }

    #hero video{
       height: 100vh;
       width: 100%;
       background-position: abolute;
       z-index: 10;
       object-fit: cover;
    }
    #hero .content{
       height: 100%;
       width: 100%;
       z-index: 20;
       position: absolute;
       top: 0;
       left: 0;
    }
    .ustcontainer{
       display: grid;
       grid-template-columns: 3fr 1fr 1fr;
    }
   .container{
       display: inline-block;
       width: 550;
       height: 450;
       margin-top: 70;
       background-color: rgb(136, 136, 226,0.3);
       
   }
   .iccontainer{
       margin-top: 70;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       height: 300;
   }